/* line 1, ../sass/partials/_type.scss */
.Header-branding {
  font-family: cubano-sharp-1; }

/* Header styling */
/* line 15, ../sass/index.scss */
.Header.Header--top .Header-inner {
  padding-bottom: 0px; }

/* Header nav links */
/* line 21, ../sass/index.scss */
#yui_3_17_2_1_1522523108119_449 .Header-nav-item {
  margin-top: 0px;
  padding-top: 0.2em;
  padding-bottom: 0.1em; }

/* Index page styling */
/* line 29, ../sass/index.scss */
#block-yui_3_17_2_1_1522524659300_4995 h2 {
  font-size: 48px; }

/* line 33, ../sass/index.scss */
.Index-page-content #block-yui_3_17_2_1_1521335523456_10753 p {
  font-size: 36px;
  line-height: 1.3em; }
